{% extends 'index.jinja2' %}

{% block content %}
    <form method="post">{% csrf_token %}
        <input type="text" name="name" placeholder="Name" required><br/>
        <input type="text" name="email" placeholder="Email" required><br/>
        <input type="text" name="password" placeholder="Password" required><br/>
        <input type="submit" value="Register">{{ info }}<br/>
    </form>
{% endblock %}